<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BugTracker login</title>
    <link rel="stylesheet" href="/css/login-styles/styles.css">
</head>
<body>
    <div class="full-screen">
        <div class="login-container">
            <h1 class="login-title">Login</h1>
            <form action="/login" class="form" method="POST">
                <div class="input-group success">
                    <label for="email">Email</label>
                    <input type="username" name="username" id="username">
                    <span class="msg">Valid Email</span>
                </div>

                <div class="input-group error">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password">
                    <span class="msg">Incorrect password</span>
                </div>

                <button class="login-button" type="submit">Login</button>
            </form>
        </div>
    </div>
    

    
</body>
</html>